<div class="d-flex justify-content-center">
  <h1><%= @store.name %></h1>
</div>

<%= render 'shared/hero', candle: @candle %>

<div class="d-flex justify-content-between align-items-center">
  <p class="m-0"><strong>In Stock: </strong><%= @candle.stock %></p>
  <div class="d-flex align-items-center">
    <p class="m-0"><strong><%= number_to_currency(@candle.price) %></strong></p>
    <%= link_to 'Buy Now!', root_path, class:'m-2 btn btn-primary disabled' %>
  </div>
</div>


<div class="d-flex justify-content-center">
  <h2> More from <%= @store.name %>:</h2>
</div>
<%= render 'shared/searchbar' %>
<div class="card-container p-1 my-2 mx-5">
  <div class="card-group justify-content-between flex-wrap">
    <% @candles.each do |candle| %>
      <%= render 'shared/card', candle: candle%>
    <% end %>
  </div>
</div>
