<div class="d-flex justify-content-center">
  <h1><%= @store.name %></h1>
</div>

<%= render 'shared/hero', candle: @candle %>

<div class="d-flex justify-content-between align-items-center">
  <p class="m-0"><strong><%= number_to_currency(@candle.price) %></strong> each</p>
  <div class="d-flex align-items-center">
    <%= form_with(url: cart_add_path, method: :post) do |form| %>
      <%= form.hidden_field :candle_id, value: @candle.id %>
      <%= form.label :quantity, "How many?" %>
      <%= form.number_field :quantity, in: 1..5, value: 1 %>
      <%= form.submit "Add to cart!", class:'m-2 btn btn-primary' %>
    <% end %>
  </div>
</div>


<div class="d-flex justify-content-center">
  <h2> More from <%= @store.name %>:</h2>
</div>
<%= render 'shared/searchbar' %>
<div class="card-container p-1 my-2 mx-5">
  <div class="card-group justify-content-between flex-wrap">
    <% @candles.each do |candle| %>
      <%= render 'shared/card', candle: candle%>
    <% end %>
  </div>
</div>
