<h1><%= @store.name %> Administration</h1>
<%= link_to 'Rename Store', store_edit_path, class:'btn btn-primary' %>
<%= link_to 'Delete Store', store_path, method: :delete, data:{ confirm: 'Are you sure?'}, class:'btn btn-danger' %>

<h2>Active stock</h2>

<% @candles.each do |candle| %>
  <ul>
    <li>Name: <%= candle.name %></li>
    <li>Description: <%= candle.description %></li>
    <li>Scents: <%= candle.scents %></li>
    <li>Ingredients: <%= candle.ingredients %></li>
    <li>Price: <%= candle.price %></li>
    <li>Stock: <%= candle.stock %></li>
  </ul>
<% end %>

<%= link_to 'Create a Listing', root_path, class:'btn btn-primary' %>
